/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

#herotext {
  font-size: 12cqw;
  padding: 3% 5% 0% 5%;
}

#selfportrait,
.h3 {
  padding: 0 5%;
  padding-top: 5%;
}

#bio {
  padding: 10% 5% 10% 5%;
}

#softwareAndCoding {
  text-align: center;
}

.softwareRow1 img,
.softwareRow2 img {
  width: 40px;
  justify-self: center;
}

.line {
  padding: 0% 5%;
}

#education,
#year,
#touchYear,
#aboutKEA {
  text-align: center;
}

#education {
  padding: 10% 0% 5% 0%;
}

#touchYear {
  padding: 0% 5% 5% 5%;
}

#aboutKEA {
  padding: 0% 5%;
}

@media (max-width: 599px) {
  #softwareAndCoding {
    padding: 10% 0% 5% 0%;
  }
  .h3 {
    width: 300px;
    justify-self: center;
  }

  .softwareRow1 {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 95%;
  }

  .softwareRow2 {
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 95%;
  }

  .languagesRow1 {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 95%;
  }

  .languagesRow2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 95%;
    margin-bottom: 10%;
  }

  .codingLanguages {
    justify-self: center;
  }
}

@media (min-width: 600px) {
  .grid-1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4%;
    max-width: 1200px;
    justify-self: center;
    margin-top: 2%;
    margin-bottom: 6%;
  }

  #selfportrait {
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  #herotext {
    grid-column: 2;
    grid-row: 1;
    font-size: 4cqw;
    padding-bottom: 5%;
  }

  #bio {
    padding: 0% 5%;
    grid-column: 2;
    grid-row: 2;
    font-size: 1.65cqw;
  }

  .grid-1_1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 12% 1fr 1fr;
    max-width: 1200px;
    justify-self: center;
    row-gap: 4%;
    margin-bottom: 8%;
  }

  #softwareAndCoding {
    grid-column: 1 / span 5;
    justify-self: center;
    text-align: center;
    font-size: 5cqw;
    padding-top: 6%;
  }

  #softwareH3 {
    grid-column: 1;
    grid-row: 2;
    justify-self: start;
  }

  #codingH3 {
    grid-column: 4;
    grid-row: 2;
    justify-self: start;
  }

  .softwareRow1,
  .softwareRow2,
  .languagesRow1,
  .languagesRow2 {
    display: flex;
    flex-direction: row;
  }

  .softwareRow1 {
    grid-column: 1;
    justify-content: space-around;
  }

  .softwareRow2,
  .languagesRow1,
  .languagesRow2 {
    justify-content: space-around;
    align-items: center;
  }

  .codingLanguages {
    padding: 0px;
  }

  .languagesRow1 {
    grid-column: 4;
  }

  .h3 {
    padding-top: 15%;
    padding-bottom: 7%;
  }

  #education {
    grid-column: 1 / span 2;
    text-align: center;
    padding-top: 6%;
    padding-bottom: 4%;
    font-size: 5cqw;
  }

  #touchYear {
    grid-column: 1;
  }

  #touchYear,
  #year {
    font-size: 2.2cqw;
    text-align: left;
    padding: 0%;
  }

  #aboutKEA {
    grid-column: 2;
    grid-row: 2 / span 2;
    font-size: 1.65cqw;
    text-align: left;
    padding: 0%;
  }
}
