/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

#herotext {
  font-size: 12cqw;
  padding-top: 4%;
}

#selfportrait,
h1,
h2,
p {
  padding: 0 5%;
}

.line {
  width: 95%;
  justify-self: center;
}
