/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

.footer {
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr;
  margin-top: 60px;
  margin-bottom: 50px;
}

#footerLine {
  grid-row: 1;
  width: 95%;
  justify-self: center;
}

#contactMe {
  grid-row: 2;
  text-align: center;
}

#instagram {
  grid-row: 3;
  text-align: center;
}

#instaHandle {
  grid-row: 4;
  text-align: center;
}

#email {
  grid-row: 5;
  text-align: center;
}

#emailHandle {
  grid-row: 6;
  text-align: center;
}

@media (min-width: 700px) {
  .footer {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #footerLine {
    grid-column: 1 / span 2;
    width: 95%;
    justify-self: center;
  }

  #contactMe {
    grid-column: 1 / span 2;
  }

  #instagram,
  #instaHandle {
    text-align: right;
  }

  #email,
  #emailHandle {
    text-align: left;
  }
}
