/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

.blue {
  color: rgb(39, 39, 255);
}

.footer {
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  margin-bottom: 50px;
}

#footerLine {
  grid-column: 1 / span 2;
  width: 95%;
  justify-self: center;
}

#contactMe {
  grid-column: 1 / span 2;
  font-size: 7cqw;
}

#instagram,
#email {
  font-size: 5cqw;
}

#instaHandle,
#emailHandle {
  font-size: 3cqw;
}

@media (min-width: 600px) {
  #contactMe {
    font-size: 64px;
  }

  #instagram,
  #email {
    font-size: 32px;
  }

  #instaHandle,
  #emailHandle {
    font-size: 20px;
  }
}
