/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

#heroIllustration {
  padding: 5% 15%;
}

#intro {
  padding: 5% 10%;
}

.ctax2 {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 5%;
}

.cta img {
  width: 220px;
}

#indexcta1,
#indexcta2 {
  padding-bottom: 5%;
}

@media (max-width: 599px) {
  .cta img {
    margin: 0 auto;
  }
}

@media (min-width: 600px) {
  #heroIllustration,
  p {
    max-width: 1200px;
    margin: 0 auto;
  }

  .ctax2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    padding-top: 0%;
  }

  #indexcta1 {
    display: flex;
    justify-content: flex-end;
  }
}
