/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

.toX img {
  width: 250px;
  justify-self: center;
  padding: 5%;
}

.portfolioIMG {
  justify-self: center;
  padding: 5%;
}

h1 {
  text-align: center;
  padding: 5% 5% 0 5%;
}

p {
  padding: 5%;
}

.line {
  padding: 10% 5% 7% 5%;
}

/* reset footer */

#footerLine,
#contactMe,
.instagram,
.email {
  padding: 0%;
}
